// Navigation Styles here
header {
  padding: 2% 0;
  .borderBottom();

  .container-nav {
    .displayFlex(space-between, row, center);
    width: 90%;

    @media @mobile {
      .displayFlex(center, row, center);

      h1 {
        padding: 4% 0;
      }
    }

    nav {
      width: 90%;
      .displayFlex(spaces-between, row, center);

      @media @mobile {
        .displayFlex(space-evenly, row, center);
        width: 100%;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 1.6em;
      }
    }
  }
}
